.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 700px !important;
}

.email {
  font-size: 1.2rem;
  font-weight: bold;
}
.userGridInner {
  margin-bottom: 10px;
}
