.tableHead {
  font-weight: bold !important;
  color: #676a6c; // background: #3cc3c1;
}

.noBoxShadow {
  box-shadow: none !important;
  // border:none !important;
  overflow-x: scroll;
  max-height: 90vh !important;
  width: 92% !important;
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 130%;
    border: 1px solid #ddd;
    // min-height: 200px;
    background-color: #fff;
  }
  th {
    font-weight: bold;
    text-align: center;
    svg {
      width: 17px !important;
      height: auto !important;
    }
  }
  th,
  td {
    text-align: left;
    font-size: 12px;
    padding: 8px;
    color: #676a6c;
    border: 1px solid #dddddd;
  }

  // tr:nth-child(even){background-color: #f2f2f2}
}

.red {
  color: red !important;
}

.green {
  color: green !important;
}
.MuiTableCell-root {
  padding: 3px;
}
